/* media Queries */

	/* LAPTOP */
	@media screen and (max-width: 1024px){
		
		.section_title  { 
			font-size: 30px;
    		line-height: 35px;
		}

		#section0 .section_text{
			text-align: left;
		}

		#section2 .section_title{
		    font-size: 30px;	
		}

		#section0 .section_title {
	    	margin-top: 18px;
		}

		.section .hidden1{
			margin-left: 0;
		}

		.image { 
			max-height: 300px; 
		}

		.section_text { 
			font-size: 17px;
			text-align: center; 
		}

		.logo_center {
		    width: 33%;
		}

		.section_icon {
    		margin-bottom: 5%;
		}

		.section .row {
			width: 45%;
		}
		
		#info_back{
			width: 67%;
		}

		.backdrop {
		    position: absolute;
		    width: 50%;
		    height: 100vh;
		    background-color: white;
		    min-width: 369px;
  		}	

  		.logo_centro{
  		    max-width: 67%;	
  		}

		#celular_left {
		    max-width: 137px;
		}

		#celular_right {
		    max-width: 152px;
		}

		.yt_close_button {
			bottom: 7%;
		}		

	}



	/* TABLET */
	@media screen and (max-width: 768px){
		
		#section0 .section_title { 
			font-size: 34px;
			text-align: center;
	    	margin-top: 28px;
		}

		#section0 .section_text { 
			text-align: center;
		}

		.playstore {
    		margin: 5% auto 7%;
	    	float: none;
	        display: block;
    	}

   		#section4 .playstore {
    		margin: 5% auto 7%;
	    	float: none;
	        display: block;
    	}

		.image { 
		    margin: 0 auto;
		    top: 0;
		    transform: translateY(85%);
		    display: block;
		    float: none;
		}

		.logo-center {
		    margin: 0 auto;
		    width: 56%;
		}

		.section-icon {
		    margin: 0 auto;
		    width: 56%;
		}
		
		#info-back{
			width: 67%;
	    	top: 50%;
    		transform: translateY(-50%);
    		margin-top: 0;
		}	

		.fleft{
			float: none;
			text-align: center;
		}

		.email{
			width: 71%;
		}

		.centro{
			text-align: center;
		}

		.backdrop {
		    position: absolute;
		    width: 100vw;
		    height: 100%;
		    background-color: #fff;
		    min-width: 400px;
		}

		#section2 .backdrop{
			background-color: #FFF2BA;
		}

		#section0 div .yt_bottom {
		    width: 51%;
		    top: 0;
		    transform: translateY(50%);
		    float: none;
		    text-align: center;
		    min-width: 286px;
  		}

  		#section0 .playstore{
  			float: none;
  		}

  		.yt_button{
  			top: 10%;
  		}

  		#section0 div .yt_right1 {
    		left: 7%;
		}

		#section0 div .yt_right2 {
    		left: -16px;
		}

 		
 		#row0 {
		    display: inline-block;
		    vertical-align: middle;
		    max-width: 680px;
		    position: relative;
		    top: 50%;
		    transform: translateY(-50%);
		    float: none;
		    left: 0;
		}

		.section .row {
			width: 100%;
		}

		#playstore2 {
    		float: none;
		}
	}		

	/* MOBILE */
	@media screen and (max-width: 425px){

		.section-title{
			font-size: 40px;
		}

		.section-icon{
			max-width: 95px;
		}

		#section0 div .yt_bottom {
    		width: 100%;
		}

		.yt_close_button {
		    right: 44%;
		    bottom: 13%;
		    width: 9%;
		}	
		#section0 div .yt_bottom {
    		transform: translateY(40%);
		}

		#section0 div .yt_right1{
			display: none;
		}

		#section0 div .yt_right2{
			display: none;
		}
	}
