/* media Queries */

	/* TABLE */
	@media screen and (max-width: 768px){
		
		.section-title  { 
			font-size: 37px;
			line-height: 45px;
		}

		#section0 .section-title {
	    	margin-top: 18px;
		}

		.image { max-height: 300px; }

		.info { width: 58%; }

		.section-text { font-size: 17px; }

		.logo-center {
		    width: 33%;
		}

		.section-icon {
    		max-width: 110px;
    		margin-bottom: 5%;
		}

		.section .row {
			width: 82%;
		}
		
		#info-back{
			width: 67%;
		}	
	}	

		@media screen and (max-width: 37.5em){
			.header { background-color: cyan; }	

			.responsible figure { width: 100% }	
			.responsible figure:nth-last-child(1) { width: 100%; }	
			.header img { max-width: 100%; }
		}

		@media screen and (max-width: 30em){
			.header { background-color: magenta; }			
		}

		@media screen and (max-width: 20em){
			.header { background-color: yellow; }			
		}