/* media Queries */

	/* LAPTOP */
	@media screen and (max-width: 1024px){
		
		.section-title  { 
			font-size: 37px;
			line-height: 45px;
		}

		#section0 .section-title {
	    	margin-top: 18px;
		}

		.image { max-height: 300px; }

		.info { width: 58%; }

		.section-text { font-size: 17px; }

		.logo-center {
		    width: 33%;
		}

		.section-icon {
    		max-width: 110px;
    		margin-bottom: 5%;
		}

		.section .row {
			width: 82%;
		}
		
		#info-back{
			width: 67%;
		}	
	}



	/* TABLET */
	@media screen and (max-width: 768px){
		
		.section-title  { 
			font-size: 34px;
		}

		#section0 .section-title {
	    	margin-top: 28px;
		}

		#section0 .playstore {
    		margin: 5% auto 7%;
	    	float: none;
	        display: block;
    	}

		.image { 
    		margin: 0 auto; 
    		top: 0;
		    transform: translateY(0);
		    display: block;
		}

		.info {
			width: 100%;
		    margin-top: 14%;
		    top: 0;
		    transform: translateY(0);
		}

		.section-text { font-size: 17px; }

		.logo-center {
		    margin: 0 auto;
		    width: 56%;
		}

		.section-icon {
    		max-width: 110px;
    		margin-bottom: 5%;
		}

		.section .row {
			width: 82%;
		}
		
		#info-back{
			width: 67%;
	    	top: 50%;
    		transform: translateY(-50%);
    		margin-top: 0;
		}	

		.fleft{
			float: none;
			text-align: center;
		}

		.email{
			width: 71%;
		}

		.centro{
			text-align: center;
		}
	}		

	/* MOBILE */
	@media screen and (max-width: 425px){

		.section-title{
			font-size: 40px;
		}

		.section-icon{
			max-width: 95px;
		}
	}
