@font-face {
    font-family: dinTextPro;
    src: url(fonts/PFDinTextPro-Regular.ttf);
}

body {
    font-family: dinTextPro, sans-serif;
    color: #2E2C33;
}

.section {
    background-position: center;
}



/* Section ------------------------------------------------------------------------------------------------------------- */

.section {
    background-position: center;
}

.section {
    text-align: center;
    width: 100%;
    background-size: cover;
}

.section .row {
    text-align: left;
}

.section .row {
    transition: all 1.5s ease;
}

.section .image{
    transition: all 1.5s ease;
    animation-delay: 2s;   
}

.container {
    height: 100%;
    max-width: 85%;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    text-align: center;
}

.text { 
    position: relative;
    z-index: 2;
    margin-left: 20px;
}
 
.image {
    display: inline-block;
    vertical-align: top;
    float: right;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    left: 700px;
}

.playstore {
    width: 200px;
    display: inline-block;
    float: left;
    margin-top: 20px;
}

.section-title {
    font-size: 54px;
    font-weight: 900;
    line-height: 55px;
}

.section-title .internal{
    font-size: 40px;
    line-height: 43px;
}

.section-text {
    font-weight: 700;
    font-size: 17px;
    margin-top: 20px;

}

.backdrop{
    position: absolute;
    width: 40%;
    height: 100vh;
    background-color: white; 
}

.section .row {
    display: inline-block;
    vertical-align: middle;
    max-width: 680px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    float: left;
}



/* Section0 ------------------------------------------------------------------------------------------------------------- */

#section0 {
    background-image: url(../imgs/bg1.jpg);
}

#section0 .container {
    height: 100%;
}

#section0 .playstore {
    margin-top: 40px;
}

#section0 .section-title {
    margin-top: 40px;
}

#section0 .container:before, #section0 .container:after{
    content: '';
    display: inline-block;
    width: 100%;
    text-align: justify;
}

.hidden1{
    opacity: 0;
    margin-left: 10%;
}

.hidden3{
    margin-right: 10%;
    opacity: 0;
}

.hidden5{
    opacity: 0
}

#section0 .row{    
    left: -700px;
}

.video iframe,
.video object,
.video embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
}

.hidden7{
    opacity: 0;
}

.bottomVideo{
    max-width: 10%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 auto;
    cursor: pointer;
    display: none;
}

#section0 .none{
    display: inline-block;
}

#section0 div .videoLeft{
    left: 0;
}

#section0 div .videoRight{
    left: 0;
}



/* Section1 ----------------------------------------------------------------------------------------------------------- */

#section1 {
    background-image: url(../imgs/bg2.jpg);
}

.hidden2{
    opacity: 0;
    margin-left: 10%;
}

.section-icon {
    max-width: 200px;
}



/* Section2 ------------------------------------------------------------------------------------------------------------ */

#section2{
    background-image: url(../imgs/bg3.jpg);
}

#section2 .row{
    left: auto;
    right: 0;
    float: right;
    text-align: right;
}

#section2 .playstore,#section2 .section-icon{
    float: right;
}

#section2 .section-title {
    clear: both;
}

#flip {
    right: 0;
    background-color: white;
}



/* Section3 ---------------------------------------------------------------------------------------------------------- */

#section3 {
    background-image: url(../imgs/bg4.jpg);
}

.hidden4{
    opacity: 0;
    margin-left: 10%;
}



/* Section4 ---------------------------------------------------------------------------------------------------------- */

#section4 {
    background-image: url(../imgs/bg5.jpg);
}

#section4 .playstore{
    float: none;
    margin: 0;
    width: 200px;
}

.mbottom-20 re    width: 80%;
    margin: 0 auto;
}

.boton {
    display: inline-block;
    background-color: #FFD400;
    color: white;
    cursor: pointer;
    border: 3px solid #FFD400;
    box-sizing: border-box;
    vertical-align: bottom;
    line-height: 36px;
}

.info {
    display: inline-block;
    vertical-align: middle;
    width: 60%;
    max-width: 680px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.closer-text{
    margin-top: 20px;
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 17px;
}

.bold-text{
    margin-top: 50px;
    font-weight: 700;
    font-size: 17px;
}

.center {
    margin: 0 auto;
}

.email {
    margin: 0 auto;
    border: 3px solid #FFD400;
    width: 350px;
    margin-top: 10px;
    display: inline-block;
    height: 40px;
    box-sizing: border-box;
    padding-left: 10px;
}

::-webkit-input-placeholder {
    color: #FFD400;
}

:-moz-placeholder {
    color: #FFD400;
}

::-moz-placeholder {
    color: #FFD400;
}

:-ms-input-placeholder {
    color: #FFD400;
}









 








