body {
	font-family: 'PT Sans', sans-serif;
	color: #2E2C33;
}

.section {
	background-position: center;
}

#section0 {
    background-image: url(../imgs/bg1.jpg);
}

#section0 .container {
	height: 100%;
	text-align: justify;
}

#section0 .playstore {
	margin-top: 40px;
}

#section0 .section-title {
	margin-top: 40px;
}

#section0 .container:before, #section0 .container:after{
	content: '';
	display: inline-block;
	width: 100%;
	text-align: justify;
}

#section1 {
    background-image: url(../imgs/bg2.jpg);
}

#section2 {
    background-image: url(../imgs/bg3.jpg);
}

#section2 .row{
	left: auto;
	right: 0;
	text-align: right;
}

#section2 .playstore,#section2 .section-icon{
	float: right;
}

#section2 .section-title {
	clear: both;
}

#section3 {
    background-image: url(../imgs/bg4.jpg);
}

#section4 {
    background-image: url(../imgs/bg5.jpg);
}

#section4 .playstore{
    float: none;
    margin: 0;
    width: 200px;
}

.section {
    text-align: center;
    width: 100%;
    background-size: cover;
}

.co-tableCell .tuvieja{
    vertical-align: middle;
}

.container {
	height: 100%;
	max-width: 85%;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
}

.section .row {
	text-align: left;
}

.mbottom-20 {
    width: 80%;
    margin: 0 auto;
}

.text { 
    position: relative;
    z-index: 2;
    margin-left: 20px;
}
 
.image {
   	display: inline-block;
   	vertical-align: top;
	max-height: 400px;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	margin-left: 40px;
}

.boton {
    display: inline-block;
    background-color: #FFD400;
    color: white;
    cursor: pointer;
    border: 3px solid #FFD400;
    box-sizing: border-box;
    vertical-align: bottom;
    line-height: 36px;
}

.rbottom {
    width: 17%;
    z-index: 2;
    position: relative;
}

.Triangulo_rectangulo {
    width: 0;
    border-right: 100px solid transparent;
    border-bottom: 100px solid #08B;
    position: absolute;
}

.info {
    display: inline-block;
    vertical-align: middle;
    width: 60%;
    max-width: 680px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.playstore {
	width: 200px;
	display: inline-block;
	float: left;
	margin-top: 20px;
}

.section-title {
    font-size: 54px;
    font-weight: 900;
    line-height: 55px;
}

.section-title .internal{
	font-size: 40px;
	line-height: 43px;
}

.section-text {
    font-weight: 700;
    font-size: 17px;
    margin-top: 20px;

}

.closer-text{
    margin-top: 20px;
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 17px;
}

.bold-text{
    margin-top: 50px;
    font-weight: 700;
    font-size: 17px;
}

.alto {
    margin-top: 350px;
    margin-bottom: 50px;
}

.min h1 {
    font-size: 3rem;
}

.min span {
    font-size: 3.5rem;
}

.backdrop {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 100vh 0 0 100vw;
    border-color: transparent transparent transparent #FFD400;
    position: absolute;
    left: 0px;
    bottom: 0px;
    opacity: 0.7;
    filter: alpha(opacity=70);
}

#flip {
    border-width: 0 0 96vh 101vw;
    border-color: transparent transparent #FFD400 transparent;
}

.fright {
    float: right;
    text-align: right;
}

.fleft {
    float: left;
    text-align: left;
}

.center {
    margin: 0 auto;
}

#botspace-80 {
    margin-bottom: 80px;
}

#botspace-50 {
    margin-bottom: 50px;
}

.email {
    margin: 0 auto;
    border: 3px solid #FFD400;
    width: 350px;
    margin-top: 10px;
    display: inline-block;
    height: 40px;
    box-sizing: border-box;
    padding-left: 10px;
}

::-webkit-input-placeholder {
    color: #FFD400;
}

:-moz-placeholder {
    color: #FFD400;
}

::-moz-placeholder {
    color: #FFD400;
}

:-ms-input-placeholder {
    color: #FFD400;
}

#fp-nav ul,
.fp-slidesNav ul {
    opacity: 0.7;
}

#fp-nav ul li .fp-tooltip.right {
    color: black;
}

.section .row {
	position: absolute;
	width: 50%;
	bottom: 30px;
	left: 0;
}

.section-icon {
	max-width: 100px;
}
