
		
		/* media Queries */

		@media screen and (max-width: 75em){
			.text { color: red; }

		}

		@media screen and (max-width: 64em){
			.text { color: blue; }

		}

		@media screen and (max-width: 48em){
			.text { color: yellow; }	
		}

		@media screen and (max-width: 37.5em){
			.header { background-color: cyan; }	

			.responsible figure { width: 100% }	
			.responsible figure:nth-last-child(1) { width: 100%; }	
			.header img { max-width: 100%; }
		}

		@media screen and (max-width: 30em){
			.header { background-color: magenta; }			
		}

		@media screen and (max-width: 20em){
			.header { background-color: yellow; }			
		}